@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "partials/app";
@import "partials/base";
@import "partials/shop";
@import "partials/cart";
@import "partials/button";
@import "partials/header";
@import "partials/product";
@import "partials/products";
@import "partials/cart-item";

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #fefffa;
  background-size: 400% 400%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.wave_body {
  top: 80%;
  transform: translateX(-50%);
  z-index: -10;
  position: fixed;
  width: 100%;
  min-height: 80%;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.wave {
  position: absolute;
  background-color: rgba(187, 138, 138, 0.25);
  width: 200%;
  height: 200%;
  border-radius: 50%;
  animation: wave 8s linear infinite alternate;
}

.wave:nth-child(2) {
  animation-delay: -10s;
}

.wave:nth-child(3) {
  animation-delay: -4s;
}

@keyframes wave {
  0% {
    transform: translateX(-23%);
  }
  100% {
    transform: translateX(23%);
  }
}
