@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
main {
  display: flex;
  gap: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  margin: 0 auto;
  padding: 24px;
}

/* h1,
h2 {
   text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc; 
} */
.shop {
  flex: 7;
}
.shop h1 {
  font-family: "Montserrat", system-ui;
  font-size: 1.75rem;
  /* text-decoration: double underline; */
  position: relative;
  z-index: -1;
}
.shop h1::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  border-bottom: 2px solid black;
  box-shadow: 0 4px 0 black;
  z-index: -1;
  margin-bottom: 5px;
}
.shop h1 {
  margin-bottom: 12px;
}

.cart {
  font-family: "Roboto Condensed", sans-serif;
  flex: 3;
  margin-bottom: 24px;
}
.cart h1 {
  font-family: "Montserrat", system-ui;
}
.cart h1,
.cart h2 {
  margin-bottom: 12px;
}
.cart__summary {
  padding: 12px;
  margin-bottom: 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cart__total-price {
  display: flex;
  justify-content: space-between;
}
.cart #cents {
  font-size: 15px;
  position: relative;
  right: 4px;
  top: -8px;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #2056a6;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.button:hover {
  transform: translateY(-0.5px);
  opacity: 0.8;
}
.button:active {
  transform: translateY(0.5px);
}

.header {
  padding: 24px;
  display: flex;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(234, 234, 234);
  box-shadow: rgba(255, 0, 0, 0.05) 0px 1px 2px 0px;
}
.header h1 {
  font-family: "Montserrat", system-ui;
  margin: 0;
  font-size: 2rem;
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.439);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header h1 span img {
  width: 4rem;
  transform: rotate(-25deg);
}

.product {
  flex-basis: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.product .product-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.product .product-title h4 {
  font-size: 26px;
}
.product .product__img:hover {
  opacity: 0.8;
}
@media screen and (min-width: 700px) {
  .product {
    flex-basis: calc(30% - 0px);
  }
}
.product__img {
  height: 350px;
}
.product__contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  padding: 12px;
}
.product__price {
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

#cents {
  font-size: 12px;
  position: relative;
  right: 4px;
  top: -6px;
  letter-spacing: 0.3px;
  z-index: -1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.cart-item {
  display: flex;
  margin-bottom: 12px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cart-item__img {
  flex: 1;
  height: 150px;
}
.cart-item__contents {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item__details {
  width: 100%;
  text-align: right;
}
.cart-item__price {
  font-weight: bold;
  letter-spacing: 1px;
}
.cart-item__quantity {
  border-bottom: 1px solid rgb(193, 193, 193);
}/*# sourceMappingURL=index.css.map */