.modal {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translateX(100%);
  transition-duration: 0.75s;
}

.modal-content {
  background-color: #fefefe;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.modal-content-active {
  transform: translateX(0);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .modal-content {
    max-width: 20%;
  }
}
