.product {
  flex-basis: 100%;
  padding-bottom: 12px;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: 10px 10px 20px #babcc1, -10px -10px 20px #fff;
  background-color: rgb(211, 239, 255);

  @media screen and (min-width: 700px) {
    flex-basis: calc(50% - 12px);
  }

  &__img {
    height: 350px;    
  }

  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
    padding: 12px;
  }

  &__price {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: bold;
  }
}

#cents {
  font-size: 1rem;
  position: relative;
  right: 4px;
  top: -6px;
}

#title_price{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;

  h4{
    font-family: "Montserrat", system-ui;
    text-transform: uppercase;
  }
}

.button {
  background-color: #2056A6;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button--remove{
  background-color:  #f44336
}

#description {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3ch;
}
