.shop {
  flex: 7;
  h1{
    font-family: "Montserrat", system-ui;
    font-size: 1.75rem;
    /* text-decoration: double underline; */
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
  }
}
